tovarcart {width: 100px;
    height: 100px;}
prov {color: red; text-align: center; }
table {text-align: center;  padding: 10px; }
td {border: 2px solid black;}
tr {border: 2px solid black;}
td.invis {border: white}
h1 {font: bold 20px Arial}